{% extends 'layout.html.twig' %}
{% block title %}{{ page_heading }}{% endblock %}
{% block banner %}
<header>
<a href='{{ homepage_link }}' id="home-link" class="header-button">Homepage</a>
{% if is_logged_in == true %}
<a href='/football_trivia_game/public/myAccount' id="home-link" class="header-button">myAccount</a>
    <form id="singout" method="post" action="{{ logout_action }}">
        <input id="signout-button" class="header-button" type="submit" value="{{ signout }}" />
    </form>
    {% else %}
    <a href='/football_trivia_game/public/login' id="signin-link" class="header-button">{{ signin }}</a>
    {% endif %}
</header>
{% endblock %}