{% extends 'banner.html.twig' %}
{# Login/SignUp Page #}
{% block content %}
    <div id="page-content-div">
        <div id="content-wrapper">
            <div class="content-div" id="login-content-div">
                <h1>{{ signin }}</h1>
                <p>{{ signin_content }}</p>
                <p id="signin-err" class="err">{{ err }}</p>
                <div id="signin-form-wrapper">
                    <form id="signin-form" method="post" action="{{ login_action }}">
                        <input class="signin-text-input" id="signin-username-input" type="text" name="signin_username" placeholder="{{ username }}" />
                        <input class="signin-text-input" id="signin-pass-input" type="password" name="signin_pass" placeholder="{{ pass }}" />

                        <input class="btn" id="signin-submit-input" type="submit" name="signin_submit" value="Sign In!" />
                    </form>
                </div>
                <button class="btn" id="btn-signin">{{ signin }}</button>
            </div>
            <div class="content-div" id="signup-content-div">
                <h1>{{ signup }}</h1>
                <p>{{ signup_content }}</p>
                <p id="signup-err" class="err"></p>

                <div id="signup-form-wrapper">
                    <form id="signup-form" method="post" action="{{ signup_action }}">
                        <input class="signin-text-input" id="signup-username-input" type="text" name="signup_username" placeholder="{{ username }}" />
                        <div class="name-wrapper" id="signup-name-wrapper">
                            <input class="signin-text-input" id="signup-fname-input" type="text" name="signup_fname" placeholder="{{ fname }}" />
                            <input class="signin-text-input" id="signup-surname-input" type="text" name="signup_surname" placeholder="{{ surname }}" />
                        </div>
                        <input class="signin-text-input" id="signup-dob-input" type="date" name="signup_dob" placeholder="{{ dob }}" />
                        <input class="signin-text-input" id="signup-email-input" type="email" name="signup_email" placeholder="{{ email }}" />
                        <input class="signin-text-input" id="signup-cemail-input" type="email" name="signup_cemail" placeholder="{{ cemail }}" />
                        <input class="signin-text-input" id="signup-pass-input" type="password" name="signup_pass" placeholder="{{ pass }}" />
                        <input class="signin-text-input" id="signup-cpass-input" type="password" name="signup_cpass" placeholder="{{ cpass }}" />

                        <input class="btn" id="signup-submit-input" type="submit" name="signup_submit" value="Sign Up!" />
                    </form>
                </div>
                <button class="btn" id="btn-signup">{{ signup }}</button>
                <p id="test"></p>
            </div>
        </div>
    </div>
{% endblock %}