{% extends 'banner.html.twig' %}
{# Login/SignUp Page #}
{% block content %}
    <div id="page-content-div">
        <div id="content-wrapper" class="content-div">
            <h1>{{ heading }}</h1>
            <p>{{ add_teacher_content }}</p>
            <p id="add-teacher-err"></p>
            <form id="add-teacher-form" method="post" action="{{action}}">
                <div class="name-wrapper" id="teacher-name-wrapper">
                    <input class="signin-text-input" id="add-teacher-fname" type="text" name="teacher-fname" placeholder="{{ teacher_fname }}" />
                    <input class="signin-text-input" id="add-teacher-surname" type="text" name="teacher-surname" placeholder="{{ teacher_surname }}" />
                </div>
                <input class="signin-text-input" id="add-teacher-email" type="text" name="teacher-email" placeholder="{{ teacher_email }}" />
                <input class="signin-text-input" id="add-teacher-cemail" type="text" name="teacher-cemail" placeholder="{{ teacher_cemail }}" />
                <div id="admin-div">
                    <label id="admin-label" for="admin-checkbox">Admin: </label><input id="admin-checkbox" type="checkbox" name="teacher_admin" />
                </div>
                 <input class="btn" id="addTeacher-submit-input" type="submit" name="add_teacher_submit" value="Add Teacher!" />
            </form
    </div>
</div>
{% endblock %}